body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(https://images.unsplash.com/photo-1458682625221-3a45f8a844c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80);

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  .header-container {
    height: 80px;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .header-left {
      width: 60%;
      display: flex;

      .header-spacer {
        width: 50px;
      }

      .logo {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background-color: rgb(28, 137, 206);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      i {
        color: white;
        font-size: 2rem;
      }

      a {
        text-decoration: none;
      }
    }
    .header-right {
      width: 40%;
      display: flex;
      justify-content: space-around;

      a {
        color: rgb(28, 137, 206);
        text-decoration: none;
      }

      a:hover {
        color: rgb(91, 173, 224);
      }
    }
  }

  .content-container {
    height: 400px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    color: white;
  }
}
